<html>
    <head>
        <title>Bruno de A. Bisogni</title>
<link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <header>
                <div class="links">
                    <a href="/">Sobre</a>
                    <a href="/">aulas</a>
                </div>
        </header>
        <div id="wrapper">
                <img src="https://avatars3.githubusercontent.com/u/65958473?s=460&u=b6e0e04ee7002e7bb4eb0e204854c4ee795fa338&v=4" alt="Bruno de A. Bisogni">
                <h1>Bruno de A. Bisogni</h1>
                <h2>Especialista em Tecnologia e Gestão de Projetos</h2>
                <p>Programador Full stack, Gestor de Projetos e Líder Técnico de times de desenvolvimento , e  CEO da  <a href="http://agencia.elaroye.com.br/">Agência E-Laroyê</a></p>
       
        <div class="links"> 
            <a href="https://www.linkedin.com/in/brunobisogni/" target="_blank">LinkedIn</a>
            <a href="https://github.com/brunobisogniDesenvolvedor" target="_blank">Github</a>
            <a href="https://www.behance.net/bbisogni" target="_blank">Behance</a>
        </div>
    </div>
    </body>
</html>